<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view5.html">
<link rel="lazy-import" href="my-view6.html">
<link rel="lazy-import" href="my-view404.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-toolbar {
      background-color: #121212;
      color: #fff;
   }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content <a href="#menu">Menù</a>-->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <section id="menu">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu"></paper-icon-button>
            <div main-title>Menù</div>
          </app-toolbar>
      </section>
        <!--<app-toolbar>  </app-toolbar>-->
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <p hidden$="[[shortView]]" id="myView1"><a name="view1" href="[[rootPath]]view1">Acceso</a></p>
          <p hidden$="[[shortView4]]" id="myView4"><a name="view404" href="[[rootPath]]view404">Registrate!!!!</a></p>
          <p hidden$="[[shortView2]]" id="myView2"><a name="view2" href="[[rootPath]]view2">Mis Productos</a></p>
          <p hidden$="[[shortView6]]" id="myView6"><a name="view6" href="[[rootPath]]view6">Estado De Cuenta</a></p>

          </iron-selector>
      </app-drawer>

      <!-- Main content-->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>[[textSitio]]</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view6 name="view6"></my-view6>
          <my-view404 name="view404"></my-view404>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          textSitio: {
            type: String,
            value: 'Resumen De Tus Cuentas'
          },
          cliente:Object,
          idcliente: {
            type: String,
            value: '',
            notify:true
          },
          shortView: {
            type:Boolean,
            value:false,
            notify: true
          },
          shortView2: {
            type:Boolean,
            value:true,
            notify: true
          },
          shortView3: {
            type:Boolean,
            value:true,
            notify: true
          },
          shortView4: {
            type:Boolean,
            value:true,
            notify: true
          },
          shortView5: {
            type:Boolean,
            value:true,
            notify: true
          },
          shortView6: {
            type:Boolean,
            value:true,
            notify: true
          },
          shortView7: {
            type:Boolean,
            value:true,
            notify: true
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        if(page=='view1'){this.shortView4 = false;}
        if(page=='view404'){this.shortView4 = true;}
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
      _showPageView2() {
        this.page = 'view2';
      }
      /*
      ready() {
        super.ready();
        window.addEventListener('nombreChanged', this._handlenombreChanged);
        }
        */
        _getIdCliente(){
          return this.idcliente;
        }
        _getCliente(){
          return this.cliente;
        }
        _handlenombreChanged(cliente){
          this.cliente = cliente;
          console.log(this.cliente);
          this.toggleView();
          this.idcliente = this.cliente.idcliente;
          this._showPageView2();
          this.textSitio = 'Hola ' + this.cliente.nombre + ', este es el ' + this.textSitio;
        }
        /*
        _handlenombreChanged(texto, texto2){
          console.log(texto + '    id:' + texto2);
          this.toggleView();
          this.idcliente = texto2;
          this._showPageView2();
          this.textSitio = 'Hola ' + texto + ', este es el ' + this.textSitio;
        }*/
        toggleView() {
          this.shortView  = true ;
          this.shortView4 = true;
          this.shortView2 = false;
          //this.shortView5 = false;
          this.shortView6 = false;
          //this.shortView7 = false;
        }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
