<script src="https://sdk.amazonaws.com/js/aws-sdk-2.354.0.min.js"></script>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<!--
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
-->
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="my-view5">
  <template>

      <style is="custom-style">
      :host {
        display: block;
        padding: 10px;
      }


      paper-dialog {
              color: green;
              backdrop-color:blue;
              backdrop-opacity:5;
              backdrop-background-color: transparent;
              data-dialog:red;
            }
      </style>

      <h2>Mis Estados de Cuenta</h2>

      <paper-dialog id="modal" modal>
              <h1>Hola [[cliente.nombre]], como estas?</h1>
              <p>Este es el correo al que enviaremos tu Estado De Cuenta:</p>
              <p align="center">[[cliente.correo]]</p>
          <div class="paper-dialog-buttons">
              <paper-button on-click="openCorreoDialog">Cambiar</paper-button>
              <paper-button dialog-dismiss>Cancelar</paper-button>
              <paper-button dialog-confirm autofocus on-click="sendEstadoCuenta">Enviar</paper-button>
          </div>
      </paper-dialog>
      <paper-dialog id="correoDialog">
          <h2>Favor de ingresar el correo a donde deseas recibir tu Estado De Cuenta</h2>
          <p align="center">
          <input size="25" class = "" placeholder="Correo Electronico......." type="email" name="" value="{{correo::input}}"/>
        </p>
          <div class="paper-dialog-buttons">
            <paper-button dialog-dismiss on-click="erraseCorreo">Cancelar</paper-button>
            <paper-button dialog-confirm on-click="setCorreo">Aceptar</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog id="noCambioCorreoDialog">
            <h2>No cambiaste el correo, se enviara a:</h2>
            <p align="center">[[cliente.correo]]</p>
            <div class="paper-dialog-buttons">
              <paper-button dialog-confirm >Cerrar</paper-button>
              </div>
          </paper-dialog>
      <template is="dom-repeat" items="{{estadoscuenta}}">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td  size="50" align="center">
                    <font color="#121212">{{item.descripcion}}</font>
                  </td>
                  <td size="50" align="center">
                    <font color="#121212">{{item.cuentatarjeta}}</font>
                  </td>
                  <td align="right">
                    <img width="10%" height="10%" src="https://s3.amazonaws.com/estadosdecuenta/EDO_CUENTA.png" data-toggle="tooltip" title="Ver Estado de Cuenta....." on-click="verEstadoCuenta"/>
                  </td>
                  <td align="right">
                    <img width="10%" height="10%" src="https://s3.amazonaws.com/estadosdecuenta/correo.png" data-toggle="tooltip" title="Enviar Estado de Cuenta por Correo....."
                    on-click="openDialog"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
  </template>
</template>
  <script>
    class MyView5 extends Polymer.Element {
      static get is() { return 'my-view5'; }
      static get properties() {
        return {
          estadoscuenta: {
            type  : Array,
            notify: true
          },
          cliente:Object,
          idcliente: {
            type: String,
            value: '',
            notify:true
          },
          urltarjeta: {
              type: String,
              value: 'http://10.253.106.23:30600/rest/api/submit-job/estadocuentatdc'
          },
          sendMail: {
              type: String,
              value: "http://localhost:3002/sendingestadodecuenta/to=%22ccc.nano@gmail.com%22"
          },
          getPDF: {
              type: String,
              value: "http://localhost:3002/estadodecuenta/idarchivo="
          },
          files: {
              type: Object
          },
          archivo: {
              type: String,
              value:'Aun soy una variable....'
          },
          correo: {
            type: String,
            value: ''
          },
          selectedmodel:Object

        };
      }
      erraseCorreo(e){
        this.correo = '';
      }
      setCorreo(e){
        if(this.correo == ''){
          var body = document.querySelector('body');
        	Polymer.dom(body).appendChild(this.$.noCambioCorreoDialog);
        	this.$.noCambioCorreoDialog.open();
        }
      }
      patchOverlay(e){
        if (e.target.withBackdrop) {
            e.target.parentNode.insertBefore(e.target._backdrop, e.target);
            }
      }
      openCorreoDialog(event){
        var body = document.querySelector('body');
      	Polymer.dom(body).appendChild(this.$.correoDialog);
      	this.$.correoDialog.open();
      }
      openDialog(e){
        var body = document.querySelector('body');
      	Polymer.dom(body).appendChild(this.$.modal);
        this.selectedmodel = e.model;
        this.$.modal.open();
      }
      sendEstadoCuenta(e){
        //var model = e.model;
        //console.log(this.selectedmodel.item);
        //console.log(this.selectedmodel.item.nombre);
        //return;
        //var url = this.sendMail + "\"" + model.item.nombre + "\"";
        var url = this.getPDF+ "\"" + this.selectedmodel.item.nombre + "\"";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        var data = request.responseText;
        var xhr = new XMLHttpRequest();
        xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            var base64Data = this.responseText.replace('"DATA":"', "");
            base64Data = base64Data.replace(/\"/g,'');
            base64Data = base64Data.replace(/{/g,'');
            base64Data = base64Data.replace(/}/g,'');
            var event = new CustomEvent("sendingestadoscuenta", {"detail":"\""+base64Data+"\""});
            document.dispatchEvent(event);
          }
        });
        url = this.urltarjeta + '?wfd=' + this.selectedmodel.item.wfd;
//        console.log(url);
        xhr.open("POST", url);
        xhr.setRequestHeader("cache-control", "no-cache");
        xhr.send(data);
      }
      verEstadoCuenta(e){
        var model = e.model;
        var url = this.getPDF+ "\"" + model.item.nombre + "\"";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        var data = request.responseText;
        var xhr = new XMLHttpRequest();
        xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            var base64Data = this.responseText.replace('"DATA":"', "");
            base64Data = base64Data.replace(/\"/g,'');
            base64Data = base64Data.replace(/{/g,'');
            base64Data = base64Data.replace(/}/g,'');
            var event = new CustomEvent("mostrarestadoscuenta", {"detail":"\""+base64Data+"\""});
            document.dispatchEvent(event);
          }
        });
        url = this.urltarjeta + '?wfd=' + model.item.wfd;
        console.log(url);
        xhr.open("POST", url);
        xhr.setRequestHeader("cache-control", "no-cache");
        xhr.send(data);
      }
  handleFiles(){
        this.files = this.$.myFile.inputElement.inputElement.files;
        var reader = new FileReader();
        reader.onload = function(e) {
                    var data = reader.result;
                    if(data.trim() == ''){return;}
                    var xhr = new XMLHttpRequest();
                    xhr.addEventListener("readystatechange", function () {
                      if (this.readyState === 4) {
                        console.log(this.responseText);
                        var base64Data = this.responseText.replace('"DATA":"', "");
                        base64Data = base64Data.replace(/\"/g,'');
                        base64Data = base64Data.replace(/{/g,'');
                        base64Data = base64Data.replace(/}/g,'');
                        var event = new CustomEvent("mostrarestadoscuenta", {"detail":"\""+base64Data+"\""});
                        document.dispatchEvent(event);
                      }
                    });

                    xhr.open("POST", "http://10.253.106.23:30600/rest/api/submit-job/estadocuentatdc");
                    xhr.setRequestHeader("cache-control", "no-cache");
                    xhr.send(data);
				   }
          reader.readAsBinaryString(this.files[0],'UTF-8');
      }
      _sendingestadoscuenta(e){
        var base64Data  = e.detail.replace(/\"/g,'');
        var xhr = new XMLHttpRequest();
            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === 4 && this.status==200) {
                alert("Favor de ir a tu bandeja de entrada, tu Estado de Cuenta, ya se encuentra Listo, gracias por hacer uso de nuestros servicios!!!!!");
              }
            });
            xhr.open("POST", "http://localhost:3002/sendingestadodecuenta");
            xhr.setRequestHeader("Accept","application/json");
            xhr.setRequestHeader("Content-Type","application/json");
            var to = '';
            if(this.correo!=''){
              to = this.correo;
            }else{
              to = this.cliente.correo;
            }
            console.log('Se enviara el correo a:' + to);
            var data = {
              "to":to,
              "from":"carlosernesto.carrillo.ceron@bbva.com",
              "filename":"EstadoDeCuenta.pdf",
              "fileBase64":base64Data
            };
            var body = JSON.stringify(data);
            xhr.send(body);
      }
      _mostrarestadoscuenta(e){
        var base64Data = e.detail.replace(/\"/g,'');
        window.open(encodeURI(base64Data));
      }
      __handlecliente(){
            var el = document.querySelector('my-app');
            this.cliente   = el._getCliente();
            this.idcliente = this.cliente.idcliente;//el._getIdCliente();
        }
      ready() {
        super.ready();
        document.addEventListener('mostrarestadoscuenta', this._mostrarestadoscuenta);
        document.addEventListener('sendingestadoscuenta', this._sendingestadoscuenta);
        this.__handlecliente();
        //if(this.idcliente==''){this.idcliente = '5bd8f75d22b7da1f145dd882';}
        this.obtenerEstadosCuentaCliente();
        }
      obtenerEstadosCuentaCliente(){
          var url = "http://localhost:3002/estadosdecuenta/idcliente=\"" + this.idcliente + "\"";
          //console.log(url);
          var request = new XMLHttpRequest();
          request.open("GET", url, false);
          request.setRequestHeader("Accept", 'application/json');
          request.send();
          var arreglo = JSON.parse(request.responseText);
          console.log(arreglo);
          this.estadoscuenta = arreglo[0].estadoscuenta;
        }
    }

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
