<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<base href="https://raw-dot-custom-elements.appspot.com/Link2Twenty/l2t-paper-slider/v1.4.1/l2t-paper-slider/">
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/l2t-paper-slider/l2t-paper-slider.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">


<dom-module id="my-view2">
  <template>
    <style is="custom-style">
      l2t-paper-slider {
        --paper-slide-height: 450px;

      }
     image {
           height: 40px;
           width: 40px;
           display: inline-block;
           border-radius: 50%;
           vertical-align: middle;
           margin-right: 15px;
         }
         .centered {
          margin: 25px;
          margin-bottom:25px;
          margin-left:75px;
          margin-right:50px;
          margin-top:25px;
          text-align: left;
      }
      :host {
        display: block;
        padding: 10px;
        --paper-tabs-selection-bar-color:black;
      }

      * {
           box-sizing: border-box;
         }
         h1 {
           margin:0;
           font: 500 13px "Open Sans", sans-serif;
           color:#fff;
           font-weight: bold;
         }
         h2 {
           margin:0;
           font: 500 13px "Open Sans", sans-serif;
           color:#fff;
           font-weight: bold;
         }
         h3 {
           margin:0;
           font: 500 13px "Open Sans", sans-serif;
           color:#fff;
           font-weight: bold;
         }
         .thumbnail {
           height: 50px;
           width: 50px;
           margin:0 20px 0 0;
           border-radius: 50%;
         }
         .card {
           padding: 10px;
           background-color: #121212;
           border: 1px solid #DDDDDD;
           border-radius: 4px;
           margin: 10px 0;
         }
         .align-right {
           text-align: right;
         }
         paper-tabs[no-bar] paper-tab.iron-selected {
              color: red;
            }
    paper-tabs {
      --paper-tabs-selection-bar-color: red;
    }

    paper-tab {
      --paper-tab-content-unselected: {
        opacity: 2.0;
      }
    }

    paper-tab {
      font-weight: 700;
    }

    </style>


    <l2t-paper-slider
    on-change="sliderChange"
    >
                 <template is="dom-repeat" items="[[productos]]">
                     <paper-slide>
                       <table align="center" fixed-column>
                         <tbody>
                           <tr>
                             <td colspan="4" align="center">
                             <font color="#121212">[[item.nombre]]</font>
                             </td>
                           </tr>
                           <tr>
                             <td colspan="4" align="center">
                               <img class="image" src="[[item.link-image]]" />
                             </td>
                           </tr>
                         </tbody>
                       </table>
                       <paper-tabs id="[[item.identificador]]"
                        selected="{{selected}}" on-tap="onAtSelect">
                         <paper-tab>Informacion de Tu Tarjeta / Cuenta</paper-tab>
                         <paper-tab>Movimientos</paper-tab>
                         <paper-tab>Abonos</paper-tab>
                         <paper-tab>Cargos</paper-tab>
                       </paper-tabs>

                       <iron-pages selected="{{selected}}">
                         <div class="card layout horizontal justified">
                        <table class="table">
                            <tbody>
                              <tr>
                                  <td><h2>Cuenta / Tarjeta</h2></td>
                                  <td><h3>[[item.textcuenta]]</h3></td>
                              </tr>
                              <tr>
                                  <td><h2>Fecha de corte</h2></td>
                                  <td><h3>[[item.textcorte]]</h3></td>
                              </tr>
                              <tr>
                                  <td><h2>Fecha límite de pago</h2></td>
                                  <td><h3>[[item.textlimite]]</h3></td>
                              </tr>
                              <tr>
                                  <td><h2>Pago para no generar intereses</h2></td>
                                  <td><h3>[[item.pagonogenerainteres]]</h3></td>
                              </tr>
                              <tr>
                                  <td><h2>Tu pago mínimo</h2></td>
                                  <td><h3>[[item.pagominimo]]</h3></td>
                              </tr>
                              </tr>
                              </tbody>
                           </table>
                         </div>
                         <div>
                             <template is="dom-repeat" items="[[submovimientos]]">
                                       <div class="card layout horizontal justified">
                                                   <table class="table">
                                                      <tbody>
                                                        <tr>
                                                          <td><iron-image class="thumbnail" src="{{toFixedOne(item.categoria)}}" sizing="cover" preload fade></iron-image></td>
                                                          <td><h3>{{item.fecha}}</h3></td>
                                                          <td class="align-right" align="right" width="100%">
                                                              <h3>{{item.establecimiento}}</h3>
                                                              <h3>{{item.descripcion}}</h3>
                                                              <h3>{{item.importe}}</h3>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                   </table>
                                        </div>
                               </template>
                         </div>
                         <div>
                           <template is="dom-repeat" items="[[abonos]]">
                                     <div class="card layout horizontal justified">
                                                 <table class="table">
                                                    <tbody>
                                                      <tr>
                                                        <td><iron-image class="thumbnail" src="{{toFixedOne(item.categoria)}}" sizing="cover" preload fade></iron-image></td>
                                                        <td><h3>{{item.fecha}}</h3></td>
                                                        <td class="align-right" align="right" width="100%">
                                                            <h3>{{item.establecimiento}}</h3>
                                                            <h3>{{item.descripcion}}</h3>
                                                            <h3>{{item.importe}}</h3>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                 </table>
                                      </div>
                             </template>
                         </div>
                         <div>
                           <template is="dom-repeat" items="[[cargos]]">
                                     <div class="card layout horizontal justified">
                                                 <table class="table">
                                                    <tbody>
                                                      <tr>
                                                        <td><iron-image class="thumbnail" src="{{toFixedOne(item.categoria)}}" sizing="cover" preload fade></iron-image></td>
                                                        <td><h3>{{item.fecha}}</h3></td>
                                                        <td class="align-right" align="right" width="100%">
                                                            <h3>{{item.establecimiento}}</h3>
                                                            <h3>{{item.descripcion}}</h3>
                                                            <h3>{{item.importe}}</h3>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                 </table>
                                      </div>
                             </template>
                         </div>
                       </iron-pages>
                     </paper-slide>
                 </template>
    </l2t-paper-slider>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          productos: {
            type  : Array,
            notify: true
          },
          idcliente: {
            type  : String,
            value:'',
            notify: true
          }  ,
          selected: {
            type  : Number,
            value:0
          },
          movimientos: {
            type  : Array,
            notify: true
          },
          submovimientos: {
            type  : Array,
            notify: true
          },
          data: {
            type  : Array,
            notify: true
          },
          abonos: {
            type  : Array,
            notify: true
          },
          cargos: {
            type  : Array,
            notify: true
          },
          selectedpaper: {
            type  : Number,
            value:0
          }
        };
      }
      retrieveResults (item){

			}
      toFixedOne (value){
      				return value=='C'?'https://s3.amazonaws.com/estadosdecuenta/cargo.png':'https://s3.amazonaws.com/estadosdecuenta/abono.png';
      			}
      sliderChange(val) {
        //console.log(this.productos);
        //console.log(val.originalTarget.position);
        var target = val.originalTarget;
        //console.log(target);
        if(this.productos!=undefined && this.productos != null){
          var id = this.productos[0].identificador;
          if(this.productos!=undefined && this.productos != null){
          var id;
          var tab;
          for(var i=0;i<this.productos.length;i++){
            id  = this.productos[i].identificador;
            tab = this.shadowRoot.querySelector('#' + id);
            tab.selected = 0;
            }
          }
        }

        //for(var i=0;i<target.childElementCount;i++){
        //  console.log(target.children[i]);
        //}
        //console.log(val.originalTarget.firstElementChild);
      }

      obtenerMovimientos(){
        var url = "http://localhost:3002/movimientos/idcliente=\"" + this.idcliente + "\"";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        var listado      = JSON.parse(request.responseText);
        listado          = listado[0].listado;
        this.movimientos = listado;
      //  var datos = [JSON.stringify({"fecha": "", "importe":"", "categoria":"" })];
      //  this.submovimientos = datos;

      }
      getMovimientos(cuentatarjeta) {
        var array = [];
        for(var i=0;i<this.movimientos.length;i++){
          var compare = this.movimientos[i].cuentatarjeta.replace(/ /g, '');
          if (compare==cuentatarjeta){
            for(var y=0;y<this.movimientos[i].movimientos.length;y++){
              array.push(this.movimientos[i].movimientos[y]);
            }
            return array;
          }
        }
        return {};
      }
      getAbonos(submovimientos){
        var array = [];
        for(var i=0;i<this.submovimientos.length;i++){
          if (this.submovimientos[i].categoria.trim()=='A'){
              array.push(this.submovimientos[i]);
          }
        }
        return array;
      }
      getCargos(submovimientos){
        var array = [];
        for(var i=0;i<this.submovimientos.length;i++){
          if (this.submovimientos[i].categoria.trim()=='C'){
              array.push(this.submovimientos[i]);
          }
        }
        return array;
      }
      cleanArrays(){
        this.submovimientos = {};
        this.abonos         = {};
        this.cargos         = {};
        //this.setDataToTables();
      }
      setDataToTables(){
        var grid = grid || this.shadowRoot.querySelector('#grid');
        if(grid!=undefined && grid!=null){
          grid.data = this.submovimientos;
          console.log(grid);
          //grid.dataTable().reload();
          //console.log(grid.data);
        }else{
          console.log('No se encuentra el grid');
        }
        var abonos = abonos || this.shadowRoot.querySelector('#abonos');
        if(abonos!=undefined && abonos!=null){
          //abonos.data = this.abonos;
          //abonos.dataTable().reload();
          console.log(abonos.dataSource);
        }else{
          console.log('No se encuentra abonos');
        }
        var cargos = cargos || this.shadowRoot.querySelector('#cargos');
        if(cargos!=undefined && cargos!=null){
          //cargos.data = this.cargos;
          //cargos.dataTable().reload();
          console.log(cargos.dataSource);
        }else{
          console.log('No se encuentra cargos');
        }
      }
      onAtSelect(e){
        //console.log('*******onAtSelect******');
        this.cleanArrays();
        var textcuenta = '';
        if(e.model.item.idproducto=='1' || e.model.item.idproducto=='1.0'){
          textcuenta = e.model.item.tarjeta;
          textcuenta = textcuenta.replace(/ /g, '');
          //console.log(e.model.item.idproducto + '-----' +textcuenta);
        }else{
          textcuenta = e.model.item.cuenta;
          //console.log(e.model.item.idproducto + '-----' +textcuenta);
        }

        this.submovimientos = this.getMovimientos(textcuenta);
        this.abonos         = this.getAbonos(this.submovimientos);
        this.cargos         = this.getCargos(this.submovimientos);
        this.setDataToTables();
      }
      obtenerProductos(){
        var url = "http://localhost:3002/clientesproductos/idcliente=\"" + this.idcliente + "\"";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        var clienteproductos = JSON.parse(request.responseText);

        for(var i=0;i<clienteproductos.length;i++){
          var producs = clienteproductos[i].productos;
          var textcuenta =  "";
          var textcorte  =  "";
          var identificador = "";
          var productosgeneral = [];
          for(var y=0;y<producs.length;y++){
            //console.log(producs[y].producto[0].idproducto);
            if(producs[y].producto[0].idproducto=='1' || producs[y].producto[0].idproducto=='1.0'){
              identificador = "tab_" + producs[y].tarjeta;
              textcuenta    = producs[y].tarjeta.substr(producs[y].tarjeta.length - 4);
            }else{
              identificador = "tab_" + producs[y].cuenta.replace(/\s\s+/g, ' ');
              textcuenta = producs[y].cuenta.substr(producs[y].cuenta.length - 4);
            }
            identificador = identificador.replace(/\s\s+/g, '');
            identificador = identificador.replace(/ /g, '');
            var parse_obj = JSON.stringify(producs[y].producto[0]);
            parse_obj = parse_obj.slice(0, -1);
            parse_obj += ",\"cuenta\":\""             + producs[y].cuenta  + "\",";
            parse_obj += "\"identificador\":\""       + identificador  + "\",";
            parse_obj += "\"clabeinterbancaria\":\""  + producs[y].clabeinterbancaria  + "\",";
            parse_obj += "\"tarjeta\":\""             + producs[y].tarjeta             + "\",";
            parse_obj += "\"credito\":\""             + producs[y].credito             + "\",";
            parse_obj += "\"disponible\":\""          + producs[y].disponible          + "\",";
            parse_obj += "\"diacorte\":\""            + producs[y].diacorte            + "\",";

            parse_obj += "\"textcorte\":\""           + producs[y].diacorte
                                                      + " " + this.getMonth(1)
                                                      + " " + this.getYear()
                                                      + "\",";

            parse_obj += "\"textlimite\":\""          + producs[y].dialimitepago
                                                      + " " + this.getMonth(0)
                                                      + " " + this.getYear()
                                                      + "\",";

            parse_obj += "\"dialimitepago\":\""       + producs[y].dialimitepago       + "\",";
            parse_obj += "\"pagonogenerainteres\":\"" + producs[y].pagonogenerainteres + "\",";
            parse_obj += "\"textcuenta\":\"*" + textcuenta + "\",";
            parse_obj += "\"pagominimo\":\""          + producs[y].pagominimo          + "\"}";
            //producs[y].producto[0]
            productosgeneral[y] = JSON.parse(parse_obj);
          }
        }
        this.productos = productosgeneral;
        //console.log(this.productos);
      }
      getYear(){
        var d = new Date();
        return d.getFullYear();

      }
      getMonth(cont){
            var d     = new Date();
            var month = new Array();
            month[0] = "Enero";
            month[1] = "Febrero";
            month[2] = "Marzo";
            month[3] = "Abril";
            month[4] = "Mayo";
            month[5] = "Junio";
            month[6] = "Julio";
            month[7] = "Agosto";
            month[8] = "Septiembre";
            month[9] = "Octubre";
            month[10] = "Noviembre";
            month[11] = "Diciembre";
            return month[d.getMonth()-cont];
      }

      ready() {
        super.ready();
        this.__handlecliente();
        this.obtenerProductos();
        this.obtenerMovimientos();
        }
      __handlecliente(){
            var el = document.querySelector('my-app');
            this.idcliente = el._getIdCliente();
        }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
