<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      </style>
      <h2>Carga archivos</h2>
      <paper-input type="file" id="myFile"></paper-input>
      <br>
      <br>
      <button class="btn btn-outline-success col-lg-4 col-xl-12" type="button" name="button" on-click="handleFiles" >Generar Estado de Cuenta</button>
      <br>
      <br>

      <div id="pdf"></div>

  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {

          urltarjeta: {
              type: String,
              value: 'http://10.253.103.141:30600/rest/api/submit-job/estadocuentatdc'
          },
          files: {
              type: Object
          },
          archivo: {
              type: String,
              value:'Aun soy una variable....'
          }

        };
      }
      handleFiles(){
        this.files = this.$.myFile.inputElement.inputElement.files;
        var reader = new FileReader();
        reader.onload = function(e) {
                    var data = reader.result;
                    if(data.trim() == ''){return;}
                    var xhr = new XMLHttpRequest();
                    xhr.addEventListener("readystatechange", function () {
                      if (this.readyState === 4) {
                        console.log(this.responseText);
                        var base64Data = this.responseText.replace('"DATA":"', "");
                        base64Data = base64Data.replace(/\"/g,'');
                        base64Data = base64Data.replace(/{/g,'');
                        base64Data = base64Data.replace(/}/g,'');
                        var event = new CustomEvent("mostrarestadoscuenta", {"detail":"\""+base64Data+"\""});
                        document.dispatchEvent(event);
                      }
                    });

                    xhr.open("POST", "http://192.168.0.15:30600/rest/api/submit-job/estadocuentatdc");

                    xhr.setRequestHeader("cache-control", "no-cache");
                    xhr.send(data);
				   }
          reader.readAsBinaryString(this.files[0],'UTF-8');
      }
      _mostrarestadoscuenta(e){
        var base64Data = e.detail.replace(/\"/g,'');
        window.open(encodeURI(base64Data));

        //console.log(base64Data.length);
        //require("fs").writeFile("out.pdf", base64Data, 'base64', function(err) {
        //  console.log(err);
        //});

/*
var file = new Blob([base64Data], { type: 'data:application/pdf;base64' });
console.log(file);
var fileURL = URL.createObjectURL(file);
console.log(fileURL);
window.open(fileURL);
var file2 = new Blob([base64Data], { type: 'data:application/pdf' });
console.log(file2);
var fileURL2 = URL.createObjectURL(file2);
console.log(fileURL2);
window.open(fileURL2);

        window.open("data:application/pdf,"+encodeURI(e.detail)); //
        window.open("data:application/pdf,"+encodeURIComponent(e.detail)); //
        window.open("data:application/pdf,"+e.detail); //

        window.open("data:application/pdf;base64,"+encodeURI(e.detail)); //
        window.open("data:application/pdf;base64,"+encodeURIComponent(e.detail)); //
        window.open("data:application/pdf;base64,"+e.detail); //

        window.open("data:application/octet-stream;charset=utf-16le;base64,"+encodeURI(e.detail)); //
        window.open("data:application/octet-stream;charset=utf-16le;base64,"+encodeURIComponent(e.detail)); //
        window.open("data:application/octet-stream;charset=utf-16le;base64,"+e.detail); //
        window.open(e.detail);
*/

      }
      ready() {
        super.ready();
        document.addEventListener('mostrarestadoscuenta', this._mostrarestadoscuenta);
        }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
