<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h2>¡Bienvenido[[nombreCliente]]!</h2>
      <br/>
      <input size="25" class = "" placeholder="Favor de ingresar su correo electronico......." type="email" name="" value="{{correo::input}}"/>
      <br/>
      <input size="25" class = "" placeholder="Favor de ingresar su contraseña......." type="password" name="" value="{{login::input}}"/>
      <br/>
      <button class="btn btn-outline-success col-lg-4 col-xl-12" type="button" name="button" on-click="acceso">Continuar</button>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
      return {
        nombreCliente: {
            type  : String,
            value: ''
          },
        correo: {
          type: String,
          value: ''
        },
        login: {
          type: String,
          value: ''
        },
        cliente: {
            type  : Array,
            notify: true
          }

      };
    }
    acceso() {
        if(this.usuario == ""){
          alert("Correo Electronico, no puede ser vacio...");
          return;
        }
        if(this.login == ""){
          alert("La contraseña no puede ser vacia...");
          return;
        }
        //http://localhost:3002/clientes/nombre=%22Ernesto%22/pass=%2287654321%22
        var url = "http://localhost:3002/clientes/correo=\""+ this.correo + "\"/pass=\""+this.login+"\"";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        this.cliente = JSON.parse(request.responseText);
        if(this.cliente.length==0){
            this.nombreCliente = "";
            alert("Datos incorrectos, favor de validar sus datos..");
        }else{
          console.log(this.cliente);
          var el = document.querySelector('my-app');
          //el._handlenombreChanged(this.cliente[0].nombre, this.cliente[0].idcliente);
          el._handlenombreChanged(this.cliente[0]);
          this.nombreCliente = ": " + this.cliente[0].nombre;
        }
      }

    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
