<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-search.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/uuid-generator/uuid-generator.html">
<dom-module id="my-view404">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }
      td, th {
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
  }
  google-map {
     height: 350px;
   }
    </style>

    <uuid-generator auto last-uuid="{{generatedUuid}}"></uuid-generator>
    <table fixed-column>
      <tbody>
        <thead>
    <tr>
      <th>Date de alta, Es gratis y lo será siempre.</th>
    </tr>
  </thead>

        <tr multi>
          <td><input size="25" class = "" placeholder="Nombre  ......." type="text" name="" value="{{nombre::input}}"/></td>
          <td><input size="25" class = "" placeholder="Apellido......." type="text" name="" value="{{apellido::input}}"/></td>
        </tr>

       <tr multi>
         <td><input disabled="true" size="25" class = "" type="text" name="" value="{{pais}}"/></td>
         <td><input size="25" class = "" placeholder="Estado......." type="text" name="" value="{{estado::input}}" on-blur="find"/></td>
         <td><input size="25" class = "" placeholder="Alcaldia/Municipio......." type="text" name="" value="{{alcaldia::input}}" on-blur="find"/></td>
       </tr>
       <tr multi>
         <td><input size="25" class = "" placeholder="Colonia  ......." type="text" name="" value="{{colonia::input}}" on-blur="find"/></td>
         <td><input size="25" class = "" placeholder="Codigo Postal......." type="text" name="" value="{{cp::input}}" on-blur="find"/></td>
         <td><input size="25" class = "" placeholder="Calle......." type="text" name="" value="{{calle::input}}" on-blur="find"/></td>
       </tr>
       <tr multi>
         <td><input size="25" class = "" placeholder="Numero Exterior......." type="text" name="" value="{{next::input}}" /></td>
         <td><input size="25" class = "" placeholder="Numero Interior......." type="text" name="" value="{{nint::input}}" /></td>
         <td><input size="25" class = "" placeholder="Referencia......." type="text" name="" value="{{referencia::input}}"/></td>
       </tr>
       <tr multi>
         <td colspan="3">
                   <!-- input que hace data-binding con google-map-search -->
                           <paper-input
                                hidden
                                label="Encontraremos tu direcciòn!!!!!"
                                type="search"
                                value="{{search::input}}"
                                placeholder="Buscar lugar"
                                results="10">
                           </paper-input>

                           <!-- google map search, data binding con paper-input -->
                           <google-map-search
                            api-key="AIzaSyAY6bRSB1507T7_ZSqDpM1IFmlzTqLnX_4"
                           map="{{map}}" query="{{search}}" results="{{results}}"
                           on-google-map-search-results="searchingComplite"
                           >
                           </google-map-search>

                           <!-- google map elemento -->
                           <google-map
                           fit-to-markers
                           api-key="AIzaSyAY6bRSB1507T7_ZSqDpM1IFmlzTqLnX_4"
                           on-google-map-ready="ready" map="{{map}}"
                           latitude="{{latitude}}"
                           longitude="{{longitude}}">

                               <!-- repeat para sacar los markers de la query -->
                               <template is="dom-repeat" items="{{results}}" as="marker">

                                   <!-- por cada iteración pintamos su marker -->
                                   <google-map-marker
                                   api-key="AIzaSyAY6bRSB1507T7_ZSqDpM1IFmlzTqLnX_4"
                                   draggable="true"
                                   latitude="{{marker.latitude}}"
                                                      click-events="true"
                                                      longitude="{{marker.longitude}}"
                                                      on-google-map-marker-open="openInfoWindow"
                                                      on-google-map-marker-click="clickMarker"

                                                      >
                                       <h2>{{ marker.name }}</h2>
                                       <p>{{ marker.formatted_address }}</p>
                                       <p>Latitude: {{ marker.latitude }}</p>
                                       <p>longitude: {{ marker.longitude }}</p>
                                   </google-map-marker>
                                 </template>

                             </google-map>
         </td>
       </tr>
        <tr multi>
          <td colspan="3"><input size="25" class = "" placeholder="Correo Electronico......." type="email" name="" value="{{correo::input}}"/></td>
        </tr>
        <tr multi>
          <td colspan="3"><input size="25" class = "" placeholder="Contraseña......." type="password" name="" value="{{login::input}}"/></td>
        </tr>
        <tr multi>
          <td align="left" colspan="2">
          <button class="btn btn-outline-success col-lg-4 col-xl-12" type="button" name="button" on-click="agregarCliente">Registrate</button>
          </td>
        </tr>
      </tbody>

    </table>

  </template>

  <script>
    class MyView404 extends Polymer.Element {
      static get is() { return 'my-view404'; }
      static get properties() {
        return {
          results: {
         type: Array,
         value: []
          },
          generatedUuid: {
              type  : String,
              value: ''
            },
          nombre: {
              type  : String,
              value: ''
            },
          correo: {
            type: String,
            value: ''
          },
          login: {
            type: String,
            value: ''
          },
          apellido: {
            type: String,
            value: ''
            },
          pais: {
              type: String,
              value: 'Mèxico'
              },
          estado: {
              type: String,
              value: ''
              },
          alcaldia: {
                type: String,
                value: ''
                },
          colonia: {
                type: String,
                value: ''
                  },
          cp: {
                type: String,
                value: ''
              },
          calle: {
                    type: String,
                    value: ''
                  },
          next: {
                            type: String,
                            value: ''
                },
          nint: {
                       type: String,
                       value: ''
                },
          referencia: {
                             type: String,
                             value: ''
                      },
          latitude: {
                   type: Number,
                   value: 19.4413561
               },
           longitude: {
                   type: Number,
                   value: -99.18384850000001
                        },
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
      agregarCliente(){
        var url = "http://localhost:3002/clientes";
        var request = new XMLHttpRequest();
        var data = {
          idcliente:this.generatedUuid,
          nombre  :this.nombre,
          apellido:this.apellido,
          correo  :this.correo,
          pass:this.login,
          direccion:[{
            pais:this.pais,
            estado:this.estado,
            alcaldia:this.alcaldia,
            colonia:this.colonia,
            cp:this.cp,
            estado:this.estado,
            calle:this.calle,
            next:this.next,
            numint:this.nint,
            referencia:this.referencia,
            latitude:this.results[0].latitude,
            longitude:this.results[0].longitude
          }]
        };
      request.open("POST", url,false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var body = JSON.stringify(data);
      request.send(body);
      if (request.status == 200) {
      alert("Tu Registro està Listo, gracias por hacer uso de nuestro sitio, enjoooy!!!!!");
      }
      else {
      console.log("Error inesperado "+request.status);
      }

      var cliente = JSON.parse(request.responseText);
      var el = document.querySelector('my-app');
      //el._handlenombreChanged(cliente.nombre, cliente.idcliente);
      el._handlenombreChanged(cliente);
      }
      clickMarker(e) {
        console.log('In clickMarker....');
        }
        openInfoWindow(e) {
          console.log('In openInfoWindow....');
       }
       find(){
         if(this.pais    !=''){this.search  = this.pais + ' ' ;}
         if(this.estado  !=''){this.search += this.estado + ' ' ;}
         if(this.alcaldia!=''){this.search += this.alcaldia + ' ' ;}
         if(this.colonia !=''){this.search += this.colonia+ ' ';}
         if(this.cp      !=''){this.search += this.cp + ' ';}
         if(this.calle      !=''){this.search += this.calle;}
         this.search      = this.search.trim();
         this.search      = this.search.replace(/\s\s+/g, ' ');
/*
        console.log(this.search);
        console.log('results in find....');
        console.log(this.results.length);
        if(this.results.length>1){
          //console.log(this.results);
          var arr2     = this.results;  // Reference arr1 by another variable
          this.results = [];
          //console.log(this.results);
          this.results[0] = arr2[0];
          //console.log(this.results);
        }
*/

       }
       searchingComplite(e){
           if(this.results.length>1){
             //console.log(this.results);
             var arr2     = this.results;  // Reference arr1 by another variable
             this.results = [];
             //console.log(this.results);
             this.results[0] = arr2[0];
             //console.log('searchingComplite-------');
             //console.log(e);
             //console.log(this.results);
           }
  //       console.log(e);
  //       console.log(this.results);
  //       const bounds = new google.maps.LatLngBounds();
//        console.log(bounds);
//         this.results.forEach(marker => {
//                bounds.extend(new google.maps.LatLng(marker.latitude, marker.longitude));
//                            });
//                            const newBounds = {
//                           ne: {
//                               lat: bounds.getNorthEast().lat(),
//                               lng: bounds.getNorthEast().lng()
//                           },
//                           sw: {
//                               lat: bounds.getSouthWest().lat(),
//                               lng: bounds.getSouthWest().lng()
//                           }
//                       };
//          this.map = this.$.map;
//          console.log(this.map);
//          console.log(this.$.map);
//          map.fitBounds(bounds);
//          map.setCenter(bounds.getCenter());

       }
    }

    window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
