<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<base href="https://raw-dot-custom-elements.appspot.com/Link2Twenty/l2t-paper-slider/v1.4.1/l2t-paper-slider/">
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/l2t-paper-slider/l2t-paper-slider.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view7">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      l2t-paper-slider {
        --paper-slide-height: 450px;

      }
      vaadin-grid#grid{
          font: 300 14px "Open Sans", sans-serif;
          border: none;
          padding: 8px;
          --divider-color: transparent;
          --vaadin-grid-body-cell: {
            padding: 0 0 10px;
          };
            --vaadin-grid-cell: {
            background: rgb(80, 91, 102);
          };
          --vaadin-grid-header-cell: {
            text-transform: uppercase;
            padding: 16px;
          };

          --vaadin-grid-focused-cell: {
            box-shadow: none;
            font-weight: bold;
          };
        }

     vaadin-grid#grid .image {
                  height: 40px;
                  width: 40px;
                  display: inline-block;
                  border-radius: 50%;
                  vertical-align: middle;
                  margin-right: 15px;
      }



    vaadin-grid#grid .bodycell {
      padding: 16px;
      background: rgb(90, 103, 116);
      border-top: 1px solid rgb(105, 118, 132);
      border-bottom: 1px solid rgb(105, 118, 132);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    vaadin-grid#grid .left {
      border-left: 1px solid rgb(105, 118, 132);
      border-radius: 3px 0 0 3px;
      margin-left: 8px;
    }

    vaadin-grid#grid .right {
      margin-right: 8px;
      border-right: 1px solid rgb(105, 118, 132);
      border-radius: 0 3px 3px 0;
    }

    </style>
    <l2t-paper-slider>
                      <paper-slide>
                       <vaadin-grid id="grid" items="[[productos]]" size="200">
                         <table>
    <colgroup>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>[[item.textcuenta]]</td>
      </tr>
    </tbody>
  </table>






                         </vaadin-grid>
                     </paper-slide>
    </l2t-paper-slider>

  </template>

  <script>
    class MyView7 extends Polymer.Element {
      static get is() { return 'my-view7'; }
      static get properties() {
        return {
          productos: {
            type  : Array,
            notify: true
          },
          idcliente: {
            type  : String,
            value:'',
            notify: true
          }        };
      }
      obtenerProductos(){
        var url = "http://localhost:3002/clientesproductos/idcliente=\"" + this.idcliente + "\"";
        console.log(url)
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        var clienteproductos = JSON.parse(request.responseText);

        for(var i=0;i<clienteproductos.length;i++){
          var producs = clienteproductos[i].productos;
          var textcuenta =  "";
          var textcorte  =  "";
          var productosgeneral = [];
          for(var y=0;y<producs.length;y++){
            console.log(producs[y].producto[0]);
            if(producs[y].producto[0].idproducto='1.0'){
              textcuenta = producs[y].tarjeta.substr(producs[y].tarjeta.length - 4);
            }else{
              textcuenta = producs[y].tarjeta.substr(producs[y].cuenta.length - 4);
            }
            var parse_obj = JSON.stringify(producs[y].producto[0]);
            parse_obj = parse_obj.slice(0, -1);
            parse_obj += ",\"cuenta\":\""              + producs[y].cuenta  + "\",";
            parse_obj += "\"clabeinterbancaria\":\""  + producs[y].clabeinterbancaria  + "\",";
            parse_obj += "\"tarjeta\":\""             + producs[y].tarjeta             + "\",";
            parse_obj += "\"credito\":\""             + producs[y].credito             + "\",";
            parse_obj += "\"disponible\":\""          + producs[y].disponible          + "\",";
            parse_obj += "\"diacorte\":\""            + producs[y].diacorte            + "\",";

            parse_obj += "\"textcorte\":\""           + producs[y].diacorte
                                                      + " " + this.getMonth(1)
                                                      + " " + this.getYear()
                                                      + "\",";

            parse_obj += "\"textlimite\":\""          + producs[y].dialimitepago
                                                      + " " + this.getMonth(0)
                                                      + " " + this.getYear()
                                                      + "\",";

            parse_obj += "\"dialimitepago\":\""       + producs[y].dialimitepago       + "\",";
            parse_obj += "\"pagonogenerainteres\":\"" + producs[y].pagonogenerainteres + "\",";
            parse_obj += "\"textcuenta\":\"*" + textcuenta + "\",";
            parse_obj += "\"pagominimo\":\""          + producs[y].pagominimo          + "\"}";
            //producs[y].producto[0]
            productosgeneral[y] = JSON.parse(parse_obj);
          }
        }
        this.productos = productosgeneral;
      }
      getYear(){
        var d = new Date();
        return d.getFullYear();

      }
      getMonth(cont){
            var d     = new Date();
            var month = new Array();
            month[0] = "Enero";
            month[1] = "Febrero";
            month[2] = "Marzo";
            month[3] = "Abril";
            month[4] = "Mayo";
            month[5] = "Junio";
            month[6] = "Julio";
            month[7] = "Agosto";
            month[8] = "Septiembre";
            month[9] = "Octubre";
            month[10] = "Noviembre";
            month[11] = "Diciembre";
            return month[d.getMonth()-cont];
      }

      ready() {
        super.ready();
        this.__handlecliente();
        this.obtenerProductos();
        }
      __handlecliente(){
            var el = document.querySelector('my-app');
            this.idcliente = el._getIdCliente();
        }
    }

    window.customElements.define(MyView7.is, MyView7);
  </script>
</dom-module>
